<a href="https://colab.research.google.com/github/TyapkinaPA/Lab_TyapkinaPA/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Основы программирования***
# Лабораторная работа №4
## Выполнил: Тяпкина Полина Андреевна
### Группа: АДЭУ-221
### Почта: p.malinka25@gmail.com

##4.2.1. Условный оператор.

4.2.1. - 4.2.6.

![Screenshot_20220927-150339_Chrome.png]()

In [ ]:
# Задание task_04_02_01.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


x = int(input("x="))

if x >= 0:
    f = x ** (1 / 2) + x ** 2
else:
    f = 1 / x


print("f =", round(f,2))
# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

x=123
f = 15140.09

4.2.2.
Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
# Задание task_04_02_02.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a1 = int(input("a1="))
a2 = int(input("a2="))

# Переменная 'a_min' должна содержать минимум, 'a_max' - максимум
min((a1,a2))
max((a1,a2))

print("Минимум:", min(a1,a2))
print("Максимум:", max(a1,a2))
# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

a1=432
a2=123
Минимум: 123
Максимум: 432

4.2.3.
Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
# Задание task_04_02_03.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a = int(input("a="))
b = int(input("b="))
d = int(input("d="))

# Введенные числа должны быть положительными, если так - осуществляем
# расчет, иначе выводим "Проверьте ввод"
if  (d + 1) < a and (d + 1) < b:
    fix = 1  # Зазор
    
    # Вывести "Да" или "Нет"
    print("ДА")
else:
    print("НЕТ")

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

a=8
b=7
d=5
ДА

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
# Задание task_04_02_04.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


year_today = int(input("Год на сегодняшний день="))
month_today = int(input("Месяц на сегодняшний день="))

year = int(input("Год рождения="))
month = int(input("Месяц рождения="))

# Считается, введенные значения находятся в допустимых пределах,и
# что 'month_today' >= 'month' (проверять значения не нужно)
# Результат необходимо записать в переменную 'age'

month_today >= month

age = (((year_today - year) * 12 + month_today - month) // 12)

print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Год на сегодняшний день=2025
Месяц на сегодняшний день=10
Год рождения=2004
Месяц рождения=3
Число полных лет:  21

№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
# Задание task_04_02_05.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


x = int(input("x="))
y = int(input("y="))

if x > 0 and y > 0:
    print("1-я четверть")
elif x < 0 and y > 0:
    print("2-я четверть")
elif x < 0 and y < 0:
    print("3-я четверть")
else:
    print("4-я четверть")

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

x=3
y=-90
4-я четверть


№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
# Задание task_04_02_06.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a = float(input("a="))
b = float(input("b="))
c = float(input("c="))
a != 0
# Расчет дискриминанта
# a * x ** 2 + b * x + c = 0
D = (b ** 2 - 4 * a * c) ** (1 / 2)
if D > 0:
    x1 = (- b + D) / (2 * a)
    x2 = (- b - D) / (2 * a) 
    print("x1=",round(x1,1))
    print("x2=",round(x2,1))
elif D == 0:
    x = (- b) / (2 * a)
    print("x=",round(x,1))
else:
    print("Нет решения")
# Вывод решения в зависимости от значения дискриминанта
# При выводе значений оставьте 1 знак после запятой

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a=2
b=4
c=-5
x1= 0.9
x2= -2.9

##4.2.2. Цикл с условием

4.2.7. - 4.2.11.

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
# Задание task_04_02_07.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


nums_sum = 0  # сумма
nums_count = 0  # количество

x = int(input("Введено число: "))
a = []
while x != 0:
    nums_count = nums_count + 1
    a.append(x)
    nums_sum = nums_sum + x
    x = int(input("Введено следующее число: "))

print("Сумма: ",nums_sum)
print("Количество: ", nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введено число: 1
Введено следующее число: 2
Введено следующее число: 3
Введено следующее число: 4
Введено следующее число: 5
Введено следующее число: 6
Введено следующее число: 7
Введено следующее число: 0
Сумма:  28
Количество:  7

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
# Задание task_04_02_08.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = int(input("n="))

t = 0
a = list()
a.append(t)

while t <= n:
    t = t + 5
    a.append(t)

a.pop()
print(a)

# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

n=113
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110]

№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

![Screenshot_20220927-150922_Chrome.png]()

In [ ]:
# Задание task_04_02_09.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com

a = int(input("a = "))

n = 1
x_sum = list()
x_sum.append(n)

while sum(x_sum) <= a:
    n = n + 1
    t = 1 / n
    x_sum.append(t)

print("n =",n)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a = 3
n = 11

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
# Задание task_04_02_10.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = list(map(int, input("n = ")))

n_sum = sum(n)
n_count = len(n)

print('Сумма цифр: ', n_sum)
print('Количество цифр: ', n_count)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 23456
Сумма цифр:  20
Количество цифр:  5

№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
# Задание task_04_02_11.
#
# Выполнил: Фамилия И.О.
# Группа: !!!
# E-mail: !!!


start = int(input("Начальное число: "))
k = int(input("Последняя цифра числа: ")) #полседняя цифра каждого числа
s = int(input("Число будет кратно: ")) #значение, которому будт кратны все числа
n_count = list()

while start % s != 0:
    start += 1
else:
    for t in range(999):
        start += 1
        while start % s != 0:
            start += 1
        else:
            if start % 10 == k:
                n_count.append(start)

print(n_count[:10])

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

Начальное число: 200
Последняя цифра числа: 5
Число будет кратно: 15
[225, 255, 285, 315, 345, 375, 405, 435, 465, 495]

##4.2.3. Совместный цикл (цикл по коллекциям)

4.2.12 - 4.2.16.

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
# Задание task_04_02_12.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a = int(input("a = "))
b = int(input("b = "))

t = list(range(a,b + 1,1))
print(t)

t.reverse()
print("\n".join(map(str, t)))

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a = 10
b = 15
[10, 11, 12, 13, 14, 15]
15
14
13
12
11
10

№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Задание task_04_02_13.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a = int(input("a = "))
b = int(input("b = "))

t = list(range(a,b+1,1))
n_sum = sum(t)
print("Сумма =", n_sum)

n_mult = 1
a = 1
while a < len(t):
    n_mult = n_mult * t[a]
    a += 1
print("Произведение =", n_mult)

n_count = len(t)
n_avg = n_sum/n_count
print("Среднее арифметическое = ",n_avg)


#print("Среднее геометрическое нечетных чисел = ",n_avg_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

a = 1
b = 5
Сумма = 15
Произведение = 120
Среднее арифметическое =  3.0

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_14.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


s = float(input("Первый день (км): "))
p = float(input("Увеличение нагрузки (%): "))

total = s
t = list()
t.append(s)
k = 1  # день
for x in range(9):
    s = ((s * (p / 100)) + s) + 0.0001
    k += 1
    t.append(s)
    print('Шёл',k,'день пробега: ', round(s,1))

total = sum(t)
print("И в итоге: ", round(total,1),', а он неплох ХD')

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Первый день (км): 5
Увеличение нагрузки (%): 10
Шёл 2 день пробега:  5.5
Шёл 3 день пробега:  6.1
Шёл 4 день пробега:  6.7
Шёл 5 день пробега:  7.3
Шёл 6 день пробега:  8.1
Шёл 7 день пробега:  8.9
Шёл 8 день пробега:  9.7
Шёл 9 день пробега:  10.7
Шёл 10 день пробега:  11.8
И в итоге:  79.7 , а он неплох ХD

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
# Задание task_04_02_15.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


p = int(input("Грузоподъёмность грузовика (кг): "))
n = int(input("Количество предметов (шт): "))

total = 0
t = list()
for x in range(n):
    
    k = int(input("Масса предмета: "))
    t.append(k)
if sum(t) <= p:
    print("Перевозка груза ВОЗМОЖНА! ;)")
else:
    print("Перевозка груза НЕВОЗМОЖНА! :(")

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоподъёмность грузовика (кг): 100
Количество предметов (шт): 2
Масса предмета: 40
Масса предмета: 40
Перевозка груза ВОЗМОЖНА! ;)

№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_16.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = int(input("Количество районов: "))

total = 0
t = list()

for x in range(n):
    s = int(input('Площадь района (га): '))
    t = int(input('Урожайность района (ц\га): '))
    k = t * s
    t.append(k)
    print("Собрано пшеницы: ", t.append(k))

print(round(sum(t), 1))
# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

##4.2.4. Прерывания и продолжения циклов
4.2.17. - 4.2.18.

№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
# Задание task_04_02_17.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


nums_sum = 0  # сумма
nums_count = 0  # количество

x = int(input("Введено число: "))
a = []
while x != 0:
    nums_count = nums_count + 1
    a.append(x)
    nums_sum = nums_sum + x
    x = int(input("Введено следующее число: "))
    if x == 0:
        break

print("Сумма: ",nums_sum)
print("Количество: ", nums_count)


# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

№ 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [ ]:
# Задание task_04_02_18.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


sentence = input("Предложение: ")

count_gl = 0  # Кол-во гласных
count_sogl = 0  # Кол-во согласных

for x in sentence:
    gl = x.lower()
    if gl == "а" or gl == "е" or gl == "ё" or\
       gl == "и" or gl == "о" or gl == "у" or\
       gl == "ы" or gl == "э" or gl == "ю" or \
       gl == "я":
        count_gl += 1
    else:
        count_sogl += 1

print("Количество букв в предложении: ", "Гласные - ",count_gl,", Согласные - ",count_sogl) 


# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Предложение: Программирование
Количество букв в предложении:  Гласные -  7 , Согласные -  9

##4.2.5. Комбинация циклов и условий
4.2.19. - 4.2.28.

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
# Задание task_04_02_19.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

t = list()

for x in range(a,b + 1):
    if x % c == 0:
        t.append(x)

print(t)

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

a = 1
b = 10
c = 2
[2, 4, 6, 8, 10]

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
# Задание task_04_02_20.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail


n = int(input("n = "))
t = list()
for x in range (100, 999):
    d = sum(int(s) for s in str(x))
    if d == n:
        t.append(x)

print(t)
    
    

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n = 5
[104, 113, 122, 131, 140, 203, 212, 221, 230, 302, 311, 320, 401, 410, 500]

№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Задание task_04_02_21.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = int(input("n = "))

r_sr_m = 0.0
r_sr_d = 0.0

r_m = 0
r_d = 0

l = 0
t = 1
for x in range(n):
    r = int(input("Рост ученика: "))
    t += 1
    if r < 0:
        l += 1
        r_m -= r
    else:
        r_d += r

r_sr_m = r_m / l
r_sr_d = r_d / (n - l)

print("Средний рост мальчиков: ", r_sr_m)
print("Средний рост девочек: ", r_sr_d)


# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

n = 5
Рост ученика: 150
Рост ученика: -150
Рост ученика: 160
Рост ученика: 170
Рост ученика: 180
Средний рост мальчиков:  150.0
Средний рост девочек:  165.0

№ 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Задание task_04_02_22.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = int(input("n = "))

t = list()

a_max = None
a_min = None

for x in range(n):
    a = float(input("a = "))
    t.append(a)

l = max(t)
g = min(t)
print("Максимум: ", l)
print("Минимум: ", g)

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n = 4
a = 6.2
a = 3.8
a = 1.1
a = 9.66
Максимум:  9.66
Минимум:  1.1

№ 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
# Задание task_04_02_23.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com

n = int(input("n = "))

h1 = 1
h2 = 1
t = 1

while n != h1:
    if n < h1:
        print("Не является.")
        break
    else:
        t = h1
        h1 += h2
        h2 = t
else:
    print("Является.")

# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

n = 7
Не является.

№ 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [ ]:
# Задание task_04_02_24.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com

n = int(input("n = "))

t = list()

# -1 означает, что последовательность упорядочена по возрастанию
# Если это не так, 'index' меняется в цикле на индекс элемента,
# нарушающего порядок
index = -1

prev = float(input("Первое число: "))
t.append(prev)
h = 1
for x in range(n - 1):
    h += 1
    prev = float(input("Следующее чисо: "))
    if prev <= t[-1]:
        index = x
        print(h)
if index == -1:
    print("Является.")

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

n = 3
Первое число: 3
Следующее чисо: 3
2
Следующее чисо: 3
3

№ 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9)

In [ ]:
# Задание task_04_02_25.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com

n = int(input("n = "))

for x in range(1, n + 1):
    for t in range(1, n + 1):
        print(f'{x} * {t} = {x * t}\h', end = ' ')
    print('')

# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

n = 4
1 * 1 = 1\h 1 * 2 = 2\h 1 * 3 = 3\h 1 * 4 = 4\h
2 * 1 = 2\h 2 * 2 = 4\h 2 * 3 = 6\h 2 * 4 = 8\h
3 * 1 = 3\h 3 * 2 = 6\h 3 * 3 = 9\h 3 * 4 = 12\h
4 * 1 = 4\h 4 * 2 = 8\h 4 * 3 = 12\h 4 * 4 = 16\h

№ 4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

In [ ]:
# Задание task_04_02_26.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com

n = int(input("n = "))

for t in range(2, n + 1):
    a = 2
    b = 2
    while (b * b <= t):
        if t % b == 0:
            a += 1
            c = t // b
            if c != b:
                a += 1
        b += 1
    print(t,a * "*")

# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

n = 10
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

№ 4.2.27

Выведите на экран (в строку) n первых простых чисел.

In [ ]:
# Задание task_04_02_27.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


n = int(input("n = "))*3

h = 1
t = list()

for x in range(1, n + 1):
    a = 0
    for y in range(1, h + 1):
        b = h % y
        if b == 0:
            a = a + 1
    if a == 2:
        t.append(h)
    else:
        x = x - 1
    h = h + 1
print(t[:n])
# --------------
# Пример вывода:
#
# n = 10
# 2 3 5 7 11 13 17 19 23 29

n = 10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

№ 4.2.28

Составьте программу для нахождения всех натуральных решений уравнения x2+y2+z2=k2, где x,y,z∈[1,30], а k вводится с клавиатуры.

In [ ]:
# Задание task_04_02_28.
#
# Выполнил: Тяпкина П.А.
# Группа: АДЭУ-221
# E-mail: p.malinka25@gmail.com


k = int(input("k = "))

for x in range(1,31):
    for y in range(1,31):
        for z in range(1,31):
            if (x ** 2) + (y ** 2) + (z ** 2) == (k ** 2):
                print(f'x = {x}, y = {y}, z = {z}')

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4

k = 30
x = 4, y = 10, z = 28
x = 4, y = 20, z = 22
x = 4, y = 22, z = 20
x = 4, y = 28, z = 10
x = 10, y = 4, z = 28
x = 10, y = 20, z = 20
x = 10, y = 28, z = 4
x = 20, y = 4, z = 22
x = 20, y = 10, z = 20
x = 20, y = 20, z = 10
x = 20, y = 22, z = 4
x = 22, y = 4, z = 20
x = 22, y = 20, z = 4
x = 28, y = 4, z = 10
x = 28, y = 10, z = 4